* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    display: inline-block;
    padding-left: 16%; padding-right: 16%; padding-top: 20%; padding-bottom: 20px;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: border-box;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.tuitt-button, .apply-button {
    color:white;
    background-color: #c2195b;
    border: #c2195b;
    padding-top: 10px; padding-bottom: 10px;
    padding-right: 100px;
    border-radius: 30px;

}
.apply-button {
    padding-right: 45px; padding-left: 45px;
    float: right;
    margin-top: 3px;
}
.tuitt-button {
    padding-right: 25px; padding-left: 25px;
    margin-right: 0px;
}
li {
    display: inline-block;
    position: sticky;
}
.nav {
    float: right;
    margin-right: 25px;
}
.nav-logo {
    float: left;
    margin-left: 10px;
}
#navbar {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 60px;
    background-color: white;
    overflow: hidden;
    position: sticky;
    border-radius: 30px;
    padding-left: 25x;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    top: 0;
}
.title, .title-2 {
    font-family: 'zilla-slab';

}
.container {
    padding-left: 16px; padding-right: 56px; padding-bottom: 12px;
    display: block;
    margin-left: 30px; margin-right: 30px; margin-bottom: 22px; 
}
.title {
    color: white;
    text-align: right;


} 
.subtitle {
    color: white;
    text-align-last: right;
}
.title {
    font-size: xx-large;
    text-align: right;
}
.subtitle {
    font-size: large;
    font-weight: lighter;
    margin-bottom: 10px;
}
.intro {
    margin: 60px;
    margin-top: 60px;
    text-align: center;
}

.intro-description {
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
}
.title-2 {
    margin-bottom: 40px;
}

.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
  }
.sticky + .content {
    padding-top: 60px;
  }
.pre-footer {
    margin: 60px;
    text-align: center;
    background-color: #f7fbfb;
}
.book-button {
    background-color:  #336589;
    padding-top: 10px; padding-bottom: 10px;
    border-radius: 30px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    margin-top: 10px;
}

footer {
    text-align: center;
}
.body {
    padding-left: 30px;
}
.ul {
    width: 100%;
}

 